.tong_tt_cn,
.tong_tt_cn form {
  display: flex;
  width: 96%;
  padding: 20px;
  gap: 4%;
}

.tt_cn_user1 {
  width: 48%;
}

.khung_my_user {
  width: 100%;
  margin-bottom: 50px;
}

.khung_my_user h6 {
  font-size: 16px;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 10px;
}

.khung_my_user input{
  font-size:16px;
}

.background_my_user {
  background-color: white;
  box-shadow: 0 0 5px 0px rgb(85, 85, 85);
  border-radius: 10px;
  line-height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.background_my_user i {
  margin-right: 10px;
  font-size: 16px;
}

.background_my_user span {
  font-size: 16px;
  color: black;

}

.background_my_user input {
  background-color: white;
  border: none;
  padding: 15px;
  outline: none;
  width: 300px;
}

.btn_capnhat {
  transform: translate(-108%, 600%);
}


.btn_current_capnhat{
  transform: translate(-110%, 300%);
}

.btn_capnhat a{
  padding: 15px 50px;
  border: none;
  background-color: #FF953F;
  color: white;
  border-radius: 5px;
  transition: all 0.3s;
  text-decoration: none;
}

.btn_capnhat a:hover{
  cursor: pointer;
  opacity: 0.8;
}

.btn_capnhat input{
  padding: 15px 50px;
  border: none;
  background-color: #FF953F;
  color: white;
  border-radius: 5px;
  transition: all 0.3s;
  text-decoration: none;
}

.btn_capnhat input:hover{
  cursor: pointer;
  opacity: 0.8;
}