.tong_tt_cn {
  display: flex;

  width: 96%;
  padding: 20px;
  gap: 4%;
}

.tt_cn_user1 {
  width: 48%;
}

.khung_my_user {
  width: 100%;
  margin-bottom: 50px;
}

.khung_my_user h6 {
  font-size: 18px;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 10px;

}

.khung_my_user1 h6 {
  font-weight: 400;
  font-size: 18px;

}

.background_my_user {
  background-color: #dfd9d9;
  border-radius: 10px;
  line-height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.background_my_user i {
  margin-right: 10px;
  font-size: 16px;
}

.background_my_user span {
  font-size: 16px;
  color: #a8a4a4;

}

.background_my_user1 span {
  font-size: 16px;
  color: #a8a4a4;
  margin-right: 50px;
}

.khung_my_user1 {
  margin-top: 30px;

}

.background_my_user input {
  background-color: #dfd9d9;
  border: none;
  padding: 15px;
  outline: none;
}