.phuongthuc-tt {
    padding-top: 20px;
}

.phuongthuc-tt h5 {
    font-size: 20px;
    color: #242424;
}

.chon-pttt {
    margin-top: 50px;
    margin-bottom: 50px;
}

.chon-pttt ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.chon-pttt ul li {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.chon-pttt ul li form img {
    width: 50px;
    margin-bottom: 15px;
}

.chon-pttt ul li form{
    display: flex;
    flex-direction: column;
}

.chon-pttt ul li form input {
    background-color: white;
    border: none;
    margin-left: -10px;
}

.chon-pttt ul li p {
    text-align: center;
}

.tt-ghichu strong {
    color: #ff5f20;
}

.tt-ghichu span {
    color: #2b2b2b;
}