.uu_dai{
    width: 1400px;
    margin: auto;
    display: flex;
    gap: 60px;
}
.uudai-left .list-uudai{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.tt-uudai{
    position: relative;
}
.tt-uudai h3{
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    bottom: -1000px;
    width: 100%;
    transition: all 0.1s ease-in-out;
}

.tt-uudai:hover img{
    opacity: 0.6;
}
.tt-uudai:hover h3{
    bottom: 150px;
    text-align: center;
}
.tt-uudai-img img{
    width: 100%;
}
.tt-uudai-text{
    text-align: center;
}




