.uu_dai{
    width: 1400px;
    margin: auto;
    display: flex;
    gap: 60px;
}
.uudai-left  .list-uudai{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.tt-uudai{
    position: relative;
}
.tt-uudai-img img{
    width: 100%;
}
.tt-uudai-text{
    text-align: center;
}




